@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --brand: #ccff00;
  --dark-bg: #121212;
  --darker-bg: #0a0a0a;
}

@theme {
  --color-brand: var(--brand);
  --color-dark-bg: var(--dark-bg);
  --color-darker-bg: var(--darker-bg);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  @keyframes animateWave {
    0% {
      transform: scaleY(0.5);
    }

    100% {
      transform: scaleY(1.2);
    }
  }
}