@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --brand: #ccff00;
  --dark-bg: #121212;
  --darker-bg: #0a0a0a;
}

@theme {
  --color-brand: var(--brand);
  --color-dark-bg: var(--dark-bg);
  --color-darker-bg: var(--darker-bg);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

body.custom-cursor-active,
body.custom-cursor-active a,
body.custom-cursor-active button,
body.custom-cursor-active [role="button"],
body.custom-cursor-active input,
body.custom-cursor-active textarea,
body.custom-cursor-active select,
body.custom-cursor-active .cursor-pointer {
  cursor: none !important;
}

@layer utilities {
  @keyframes animateWave {
    0% {
      transform: scaleY(0.5);
    }

    100% {
      transform: scaleY(1.2);
    }
  }

  @keyframes fadeSlideRight {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }

    50% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(10px);
    }
  }

  @keyframes scrollLine {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(200%);
    }
  }
}